{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block header_text %}
{% endblock header_text %}

<!-- HEADER TEXT BLOCK END -->
{% block header_poster %}
{% endblock header_poster %}

{% block main %}
<main>
    <section class="product_detail">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {% include 'store/components/_product_slider.html' %}
                </div>
                <div class="col-md-6">
                    {% include 'store/components/_product_detail_info.html' %}

                    <p class="product_detail-guarantee">30 days return, free shipping</p>
                    <button class="product_detail-buy_btn">ADD TO CART</button>
                </div>
            </div>
        </div>
    </section>

    {% include 'store/components/_brand_info.html' %}


    {% include 'store/components/_reviews.html' %}

    {% if request.user.is_authenticated %}
    {% include 'store/components/_review_form.html' %}
    {% endif %}

    <div class="recommended_goods">
        <h2 class="product_detail-main-title text-center">You may also like</h2>

        <!-- PRODUCTS BLOCK START -->
        <div class="container">
            <div class="row">
                {% for product in products %}
                    {% include 'store/components/_product_card.html' %}
                {% endfor %}
            </div>
        </div>
        <!-- PRODUCTS BLOCK END -->
    </div>


    <!-- BLOCK EMAIL FORM START -->
    {% include 'store/components/_email_form.html' %}
    <!-- BLOCK EMAIL FORM END -->
</main>
{% endblock main %}
